.profile {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    &__name {
        font-weight: bold;
        font-size: 32px;
    }
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}