$msg-background-color: rgb(137, 204, 195);
$txt-color:rgb(31, 88, 88);
.MuiButton-root {
    color: rgb(31, 88, 88)!important
}

.myTxtField .MuiOutlinedInput-root {
    background: $msg-background-color !important;
    width: 200px !important;
}

.form {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    &__input {
        padding: 0 8px;
        border: none;
        border-bottom: 1px solid #6f6f6f;
        margin: 0 15px;
        height: 32px;
        line-height: 32px;
        width: 250px;
        max-width: 100%;
        &:focus {
            outline: none;
        }
    }
    &__submit {
        border: none;
        background: $msg-background-color;
        color: $txt-color;
        font-weight: bold;
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        padding: 0 32px;
    }
}